# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data & Temp
out.txt
Dados projeto.md
*.log
.DS_Store

# Ignorar pastas de dados brutos (raw)
**/data/raw/
data/raw/

# Ignorar dados processados pesados (>10MB)
data/processed/price_history_limpo.csv

# Ignorar dados do projeto 09 (Kaggle dataset de 2.6GB)
Senior/Projeto Senior 09 - Geology Prediction/data/

# Models (opcional, mas bom manter se leves)
# models/*.joblib

# IDEs
.vscode/
.idea/
